<h3>input repo url to find your issues</h3>

<form id="repo-input">
  <p>
    {{input value=repo.repoUrl placeholder="repo url"}}
  </p>
  <p>
    <button {{action "findRepoIssues" repo}}>Find Issues</button>
  </p>
</form>

{{yield}}
